{
  "semi": true,
  "printWidth": 120,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".all-contributorsrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
