<!DOCTYPE html>
<html class="antialiased text-gray-800">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ _target.title }} &middot; {{ _config.project.title }}</title>

        <link rel="stylesheet" href="{{ '/dist/css/main.css' | path }}">
    </head>

    <body class="bg-gray-100">
        {{ yield | safe }}
    </body>
</html>
