<div class="feature">
    {% render '@icon', { id: icon, class: 'mb-2 text-teal-500' }, true %}
    <h4 class="text-lg md:text-xl lg:text-2xl font-medium mb-2">{{ title }}</h4>
    <p class="text-gray-600">{{ body }}</p>
</div>
