// -----------------------------------------------------------------------------
// Config
// -----------------------------------------------------------------------------

$width-sidebar: 240px;
$handle-size: 0.625rem;

$mq-breakpoints: (
    nav-collapse: 500px,
    medium: 600px,
    large: 800px,
);

// -----------------------------------------------------------------------------
// Vendor (node_modules)
// -----------------------------------------------------------------------------

@import "normalize.css/normalize";
@import "sass-mq/_mq";

// -----------------------------------------------------------------------------
// Core
// -----------------------------------------------------------------------------

@import "mixins";
@import "fonts";
@import "foundation";
