$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$width-sidebar: 240px;
$handle-size: 0.625rem;

$mq-breakpoints: (
    navCollapse:  500px
);
