.fr-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    &.is-full {
        .gutter {
            width: 0 !important;
        }
        .fr-sidebar {
            width: 0 !important;
        }
        .fr-content {
            width: 100% !important;
        }
    }
}
.fr-sidebar {
    // transition: width 0.2s;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

.fr-content {
    // transition: width 0.2s;
    // float: left;
    height: 100%;
}

.gutter {
    // transition: width 0.2s;
    background-color: transparent;
    border-left: 1px solid #ddd;
    height: 100%;
}

.gutter.gutter-vertical,
.gutter.gutter-horizontal {
  cursor: grab;
}
