@mixin link-default($color, $decoration) {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $color;
        text-decoration: $decoration;
    }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

@mixin trbl($val) {
    top: $val;
    right: $val;
    bottom: $val;
    left: $val;
}

@mixin dragHandle {
    &.is-disabled {
        pointer-events: none;
        visibility: hidden;
    }
    @include mq($until: navCollapse) {
        pointer-events: none;
        visibility: hidden;
    }
}
