.AssetList {
    list-style: none;
    max-width: 900px;
    margin-top: 40px;
}

.AssetList-asset {
    list-style: none;
    width: 100%;
}

.AssetList-name {
    color: rgba($color-text, 0.5);

    strong {
        color: $color-link;
        font-weight: normal;
    }
}

.AssetList-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    text-decoration: none;

    &:hover {
        .AssetList-path {
            color: rgba($color-text, 0.75);
        }

        .AssetList-icon {
            svg {
                fill: #999;
            }
        }
    }
}

.AssetList-icon {
    @include margin-inline(end, 0.5rem);

    svg {
        fill: #ccc;
    }
}
