.Browser {
    @include trbl(0);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Browser-controls {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 $color-alpha-tint-lighter;
}

.Browser-tabs {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.Browser-tab {
    box-shadow: inset -1px 0 0 $color-alpha-tint-lighter;
    border-left: 0.125rem solid transparent;

    a {
        @include font(navigation);
        @include link-default($color-beta, none);
        display: block;
        padding: 0.625rem 0.75rem;
    }

    svg {
        @include margin-inline(end, 0.125rem);
        pointer-events: none;
    }

    &.is-active {
        background-color: $color-gamma;
        border-left-color: $color-accent;

        a {
            font-weight: bold;
        }
    }

    &.is-disabled {
        a {
            opacity: 0.5;
        }
    }
}

.Browser-panel {
    flex: 1 1 auto;
    display: none;
    overflow: auto;
    position: relative;
    width: 100%;
    background-color: $color-gamma;

    &.is-active {
        display: block;
    }
}

.Browser-code {
    overflow: hidden;
    flex-direction: column;

    &.is-active {
        display: flex;
    }
}

.Browser-codeHeader {
    flex: 0 0 auto;
    border-bottom: 1px solid $color-alpha-tint-lighter;
    padding: 0.5rem;
}

.Browser-files {
    flex: 1 1 auto;
    display: flex;
    overflow: auto;
    background-color: $color-gamma;
    -webkit-overflow-scrolling: touch;
}

.Browser-fileSelector {
    @include font(navigation);
    border: 1px solid $color-alpha-tint-light;
}

.Browser-fileContent {
    flex: 1 1 auto;
    display: none;
    -webkit-overflow-scrolling: touch;

    &.is-active {
        display: flex;
    }
}

.Browser-notes {
    padding: 0.75rem;
}

.Browser-isEmptyNote {
    font-style: italic;
    color: $color-alpha-tint-light;
}
