.Code {
    display: block;
    background-color: $color-background-offset;
    -webkit-overflow-scrolling: touch;

    pre {
        padding: 0.75rem;
        -webkit-overflow-scrolling: touch;

        a {
            color: #28f;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
