.Code {
    display: block;
    background-color: $color-code-bg;
    -webkit-overflow-scrolling: touch;

    pre {
        background-color: $color-code-bg;
        padding: 0.75rem;
        -webkit-overflow-scrolling: touch;

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
