.Document {
    padding: 30px;
}
.Document-header {
    margin-bottom: 1.2em;
}
.Document-title {
    padding-bottom: 8px;
    border-bottom: 1px solid $color-alpha-tint-light;
    margin-bottom: 0;
}
