.Document {
    padding: 30px;
    @include mq($until: navCollapse) {
        padding: 20px;
    }
}
.Document-header {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-alpha-tint-light;
    margin-bottom: 1.2em;
}
.Document-title {
    margin: 0;
    font-size: 28px;
}
