.Error-stack {
    margin-top: 1.5rem;

    pre {
        @include font(code);

        color: rgba($color-text, 0.75);
    }
}

.Error--render {
    background-color: rgba(#b00, 0.05);
    border: 1px solid rgba(#b00, 0.25);
    padding: 0.75rem;

    .Error-title {
        @include font(label);

        color: #b00;
    }

    .Error-message {
        @include font(caption);
    }

    .Error-stack {
        pre,
        code {
            background-color: #fff !important;
        }
    }
}
