.FileBrowser {

}

.FileBrowser-tabs {
    border-bottom: 1px solid $color-frame-border;
    display: flex;
}

.FileBrowser-tab {
    a {
        color: rgba($color-text, 0.9);
        text-decoration: none;
        display: inline-block;
        padding: 10px;
    }
}

.FileBrowser-item {
    padding: 0.75rem;
}

.FileBrowser-itemTitle {
    margin-bottom: 1rem;
}


//
// .FileBrowser-items {
//     flex: auto;
//     flex-basis: 1;
//     background-color: #fff;
//     max-width: 180px;
// }
//
// .FileBrowser-item {
//     border-bottom: 0;
//     a {
//         color: $color-text;
//         display: block;
//         background-color: $color-background-offset;
//         padding: 7px 10px;
//         font-size: 14px;
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//         text-decoration: none;
//         position: relative;
//         z-index: 2;
//         margin-right: -1px;
//         border-bottom: 1px solid $color-frame-border;
//         border-right: 1px solid $color-frame-border;
//     }
// }
//
// .FileBrowser-viewer {
//     border-left: 1px solid $color-frame-border;
//     flex: auto;
//     flex-basis: 4;
// }
//
// .FileBrowser-code {
//     padding: 0.75rem;
// }
