.FileBrowser {
    position: static;
    flex-basis: 100%;
}

.FileBrowser-selectWrapper {
    margin: -0.75rem -0.75rem 0.75rem -0.75rem;
    padding: 0.5rem 0.75rem;
    background-color: rgba($color-frame-border, 0.05);
}

.FileBrowser-select-label {
    @include font(label);

    display: block;
    width: auto;
    padding: 0.25rem 0;
    font-weight: bold;
}

.FileBrowser-select {
    position: relative;
    appearance: none;
    min-width: 15em;
    padding: 0.3125rem 2rem 0.3125rem 0.5625rem;
    border: 1px solid $color-frame-border;
    border-radius: 3px;
    height: 36px;
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23888888%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.65em top 52%;
    background-size: 0.65em auto;

    &::-ms-expand {
        display: none;
    }

    &::-ms-value {
        color: inherit;
        background: inherit;
    }
}

.FileBrowser-item {
    display: none;

    &.is-active {
        display: block;
    }
}

@include mq($from: medium) {
    .Frame.is-closed {
        .FileBrowser-select-label {
            position: relative;
            width: 10rem;
            display: inline-block;
        }
    }
}

@include mq($from: large) {
    .Frame:not(.is-closed) {
        .FileBrowser-select-label {
            position: relative;
            width: 10rem;
            display: inline-block;
        }
    }
}
