
.Frame {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
    min-width: 280px;
    &.is-resizing {
        cursor: grabbing;
        .Frame-body,
        .Frame-panel {
            user-select: none;
            pointer-events: none;
        }
    }
}
.Frame-header {
    float: left;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
}
.Frame-body {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    height: 100%;
}
.Frame-panel {
    height: calc(100% - 50px);
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.Frame-panel--sidebar {
    flex: 0 0 auto;
    background-color: $color-gamma;
    width: 230px;
    min-width: 230px;
    max-width: 400px;
    padding: 25px 0 40px 0;
    border-right: 1px solid $color-alpha-tint-light;
}
.Frame-panel--main {
    flex: 1 1 auto;
    overflow: auto;
    margin-left: -20px;
    position: relative;
    z-index: 1;
    padding-bottom: 1px;
    // min-width: 280px;
}
.Frame-handle {
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    width: 20px;
    cursor: ew-resize;
    height: 100%;
    background: transparent url('/_theme/img/icon-drag--vertical.svg') no-repeat 50% 45%;
    background-size: 3px 16px;
}
.Frame-inner {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
