.Header {
    display: flex;
    align-items: center;
    background-color: $color-accent;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    position:relative;
    color: #fff;
    z-index: 10;
    text-overflow: ellipsis;
}
.Header-button {
    border: 0;
    height: 50px;
    width: 50px;
    display: none;
    display: block;
    background: $color-accent url('/_theme/img/icon-close-white.svg') no-repeat 50% 50%;
    background-size: 20px 20px;
    .is-closed & {
        background-image: url('/_theme/img/icon-menu-white.svg');
    }
    span {
        display: none;
        @extend %visuallyhidden;
    }
    &:focus,
    &:active {
        outline: none;
    }
    &:hover {
        background-color: rgba(#2E2F33, 0.25);
    }
    &:active {
        background-color: rgba(#2E2F33, 0.25);
    }
    border-right: 1px solid rgba(#2E2F33, 0.25);
}
.Header-title {
    padding-left: 15px;
    @include link-default($color-delta, none);
    font-size: 18px;
    position: relative;
    top: -1px;
    padding: 5px 15px;
    vertical-align: middle;
    white-space: nowrap;
    // text-overflow: ellipsis;
}
