.Header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: $color-header-bg;
    box-shadow: inset 0 -1px 0 0 #bbb, 0 2px 0 #ddd;
    text-overflow: ellipsis;
    color: $color-header-content;
}

.Header-title {
    @include link-default($color-header-content, none);
    padding: 0.75rem 1rem;
    font-size: 1.125rem; // 18px
    line-height: (24 / 18);
    white-space: nowrap;
}

.Header-button {
    @include border-inline(end, 1px solid rgba($color-header-splitter, 0.2));
    display: block;
    border: 0;
    height: 3rem;
    width: 3rem;
    touch-action: manipulation;

    &:focus,
    &:active {
        outline: none;
    }

    &:hover {
        // background-color: $color-alpha-tint-lightest;
    }

    &:active {
        // background-color: $color-alpha-tint-lighter;
    }
}

.Header-navToggle {
    svg {
        display: block;
        margin: 0 auto;
    }
}

.Header-menuIcon {
    path {
        transition: all 0.1s ease-out;
    }

    path:nth-of-type(1) {
        transform: rotate(45deg) scaleX(1.3333);
        transform-origin: top left;
    }

    path:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    path:nth-of-type(3) {
        transform: rotate(-45deg) scaleX(1.3333);
        transform-origin: bottom left;
    }
}

.is-closed .Header-menuIcon {
    path:nth-of-type(1) {
        transform: rotate(0) scaleX(1);
    }

    path:nth-of-type(2) {
        width: 100%;
        opacity: 1;
    }

    path:nth-of-type(3) {
        transform: rotate(0) scaleX(1);
    }
}
