.Meta {
    a {
        text-decoration: none;
    }
}

.Meta-item {
    padding: 14px 0;
    overflow: hidden;
    & + & {
        border-top: 1px solid lighten($color-frame-border, 10%);
    }
}

.Meta-key {
    margin-bottom: 10px;
    display: block;
}

.Meta-value {
    display: block;
    min-width: 200px;
    white-space: nowrap;
    a {
        &:hover span {
            text-decoration: underline;
        }
    }
    li {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.Meta-count {
    font-style: normal;
    opacity: 0.5;
    font-size: 0.9em;
}

.Meta-value--linkList {
    // display: flex;
    // flex-wrap: wrap;
    // a {
    //     width: 50%;
    //     flex: auto;
    // }
}

@include mq($from: medium) {
    .Frame.is-closed {
        .Meta-item {
            padding-left: 200px;
        }
        .Meta-key {
            width: 180px;
            float: left;
            margin-left: -200px;
        }
    }
}

@include mq($from: large) {
    .Frame:not(.is-closed) {
        .Meta-item {
            padding-left: 200px;
        }
        .Meta-key {
            width: 180px;
            float: left;
            margin-left: -200px;
        }
    }
}
