.Meta {
    @include font(caption);

    a {
        text-decoration: none;
    }
}

.Meta-item {
    overflow: hidden;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;

    &:not(:last-child) {
        border-bottom: 1px solid rgba($color-frame-border, 0.15);
    }
}

.Meta-key {
    display: block;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
}

.Meta-value {
    display: block;
    min-width: 10em;
    white-space: nowrap;
    padding-bottom: 0.25rem;

    a:hover span {
        text-decoration: underline;
    }

    li:not(:last-child) {
        margin-bottom: 0.25em;
    }
}

.Meta-count {
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
}

@include mq($from: medium) {
    .Frame.is-closed {
        .Meta-item {
            padding-left: 10em;
        }
        .Meta-key {
            width: 10em;
            float: left;
            margin-left: -10em;
        }
    }
}

@include mq($from: large) {
    .Frame:not(.is-closed) {
        .Meta-item {
            padding-left: 10em;
        }
        .Meta-key {
            width: 10em;
            float: left;
            margin-left: -10em;
        }
    }
}
