.Navigation {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Navigation-panel {
    @include border-inline(end, 1px solid $color-frame-border);

    width: 240px;
    height: 100%;
    overflow: auto;
    padding: 1rem 0;
}

.Navigation-panel--variants {
    display: none;

    &.is-visible {
        display: block;
    }
}

.Navigation-group {
    @include clearfix;

    & + & {
        margin-top: 1.5rem;
    }

    .Navigation-panel--variants & {
        display: none;
        margin-top: 0;

        &.is-visible {
            display: block;
        }
    }
}
