.Navigation {
    .Tree {
        .Status-dot {
            position: relative;
            top: 1px;
        }
    }
}
.Navigation-group {
    @include clearfix;
    & + & {
        margin-top: 25px;
    }
    padding-right: 20px;
}
