.Pen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    background: $color-gamma;
    background: #fff;
    &.is-resizing {
        cursor: grabbing;
        .Pen-handle {
            cursor: grabbing;
        }
    }
}
.Pen-header {
    flex: 0 0 auto;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    .Status {
        padding-left: 10px;
        margin-left: auto;
    }
}
.Pen-title {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5;
}
.Pen-newWindowLink {
    position: relative;
    top: 3px;
    margin-left: 5px;
    svg {
        fill: $color-accent;
    }
}
.Pen-preview {
    flex: 0 0 auto;
    height: 50%;
    max-height: calc(100% - 100px);
    margin: 0 20px 0 20px;
}
.Pen-handle {
    flex: 0 0 auto;
    height: 20px;
    margin: 0 20px;
    cursor: ns-resize;
    background: transparent url('/_theme/img/icon-drag--horizontal.svg') no-repeat 50% 50%;
    background-size: 16px 3px;
}
.Pen-info {
    margin: 0 20px 20px 20px;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid $color-alpha-tint-light;
}
