.Pen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    background: $color-gamma;
    background: #fff;
    &.is-resizing {
        cursor: grabbing;
        .Pen-handle {
            cursor: grabbing;
        }
    }
}
.Pen-header {
    flex: 0 0 auto;
    display: flex;
    padding: 20px;
    align-items: center;
    .Status {
        padding-left: 10px;
        margin-left: auto;
    }
}
.Pen-title {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Pen-newWindowLink {
    position: relative;
    top: 3px;
    margin-left: 5px;
    svg {
        fill: $color-accent;
    }
}
.Pen-preview {
    flex: 0 0 auto;
    min-height: 150px;
    height: 50%;
    max-height: calc(100% - 160px);
    margin: 0 20px 0 20px;
}
.Pen-info {
    margin: 0 20px 20px 20px;
    background: $color-gamma;
    flex: 1 1 auto;
    overflow: scroll;
}
.Pen-handle {
    flex: 0 0 auto;
    height: 20px;
    margin: 0 20px;
    cursor: ns-resize;
    background: transparent url('/_theme/img/icon-drag--horizontal.svg') no-repeat 50% 50%;
    background-size: 16px 3px; 
}



// .Pen-preview {
//     position: relative;
//     flex: 0 0 auto;
//     margin: 0 20px 20px 20px;
//     border: 1px solid $color-alpha-tint-light;
//     iframe {
//         width: 100%;
//         position: absolute;
//         height: 100%;
//         @include trbl(0);
//     }
// }
// .Pen-info {
//     margin: 20px;
//     background: $color-gamma;
//     flex: 1 1 auto;
//     overflow: scroll;
// }
// .Pen-splitter {
//     flex: 0 0 auto;
//     background: #999;
//     height: 10px;
//     width: 100%;
// }
