.Prose {
    font-size: 16px;
    line-height: 1.5;

    p,
    ul,
    ol {
        margin: 0.7em 0 1.4em 0;
    }

    ul, ol {
        padding-left: 1.3em;
    }

    li {
        margin-bottom: 0.3em;
    }

    ul li {
        list-style-type: disc;
    }

    ol li {
        list-style-type: decimal;
    }

    h1 {
        padding-bottom: 8px;
        border-bottom: 1px solid $color-alpha-tint-light;
        margin: 1.2em 0 1.0em 0;
    }

    h2, h3 {
        margin: 1.6em 0 0.6em 0;
    }

    hr {
        height: 0;
        border: 0;
        border-top: 1px solid $color-alpha-tint-light;
        margin: 2em 0;
    }

    code,
    code pre {
        background-color: $color-gamma;
    }

    p code,
    li code {
        padding: 2px 5px;
        color: $color-alpha;
    }

    code pre {
        padding: 6px 10px;
        margin: 1.2em 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 1.2em 0;
        font-size: 15px;
        caption {
            font-style: italic;
            font-size: 14px;
            color: $color-beta;
            padding: 0.3em 0.4em;
            // display: block;
            text-align: left;
        }
    }

    td, th {
        padding: 0.3em 0.4em;
        border: 1px solid $color-alpha-tint-lighter;
        text-align: left;
    }

    a {
        @include link-default($color-accent, underline);
        // &:hover {
        //     text-decoration: underline;
        // }
    }
}
