.Prose {
    @include font(body);
    max-width: 44em;
    font-feature-settings: "liga", "dlig", "kern", "onum";
    hanging-punctuation: first;

    > * {
        margin-bottom: 0.75em;
    }

    ul,
    ol {
        @include padding-inline(start, 1.25em);
    }

    li,
    li > ul,
    li > ol {
        margin-bottom: 0.25em;
    }

    ul li {
        list-style-type: square;
    }

    ol li {
        list-style-type: decimal;
    }

    h1 {
        @include font(title);
    }

    h2 {
        @include font(heading);
        margin-bottom: 1em;
        opacity: 0.9;
    }

    *:not(hr) + h2 {
        margin-top: 2em;
    }

    h3 {
        @include font(subHeading);
        margin-bottom: 0.75em;
        opacity: 0.8;
    }

    * + h3 {
        margin-top: 2.25em;
    }

    hr {
        height: 0;
        border: 0;
        border-top: 0.125rem solid $color-alpha-tint-lighter;
        margin: 2em 0;
    }

    abbr {
        font-feature-settings: "c2sc";
    }

    code,
    code pre {
        background-color: $color-alpha-tint-lightest;
    }

    p code,
    li code {
        padding: 0.125rem;
    }

    code pre {
        padding: 0.125rem 0.5rem;
        margin: 1rem -0.5rem;
    }

    table {
        width: 100%;
        margin: 1rem -0.5rem;
        border-collapse: collapse;
        font-size: 0.875rem;
        font-feature-settings: "lnum" 1, "tnum" 1;
    }

    caption {
        @include font(navigation);
        padding: 0 0.5rem;
        font-style: italic;
        text-align: start;
        color: $color-beta;
        opacity: 0.8;
    }

    td,
    th {
        padding: 0.75em 0.5rem;
        text-align: start;

        // text-align: start is fully supported for th elements
        [dir="ltr"] & { text-align: left; }
        [dir="rtl"] & { text-align: right; }
    }

    tr:nth-child(even) {
        background-color: $color-gamma;
    }

    th {
        background-color: $color-gamma;
        border-bottom: 1px solid $color-alpha-tint-lighter;
    }

    a {
        @include link-default($color-accent, underline);
    }
}
