.Tree {
    white-space: nowrap;
}
.Tree-title {
    padding-left: 25px;
    font-size: 11px;
    line-height: 11/20;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-alpha;
    margin-bottom: 10px;
}
.Tree-collection {
    padding-top: 5px;
    padding-bottom: 5px;
    &.is-closed {
        background-color: transparent;
        .Tree-collectionItems {
            display: none;
        }
        .Tree-collectionLabel {
            span:before {
                background-image: url('/_theme/img/icon-navigation-closed.svg');
            }
        }
    }
}
.Tree-collectionLabel {
    color: $color-alpha;
    cursor: pointer;
    font-size: 13px;
    line-height: 13/20;
    font-weight: normal;
    user-select: none;
    span {
        position: relative;
        display: block;
        padding-left: 12px;
        margin-left: -22px;
    }
    span:before {
        position: absolute;
        left: 0;
        top: 5px;
        content: ' ';
        background-image: url('/_theme/img/icon-navigation-opened.svg');
        background-size: 8px 8px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        display: inline-block;
        width: 10px;
        height: 10px;
    }
    touch-action: manipulation;
}
.Tree-collectionItems {
    margin-top: 5px;
}
.Tree-item {
    font-size: 13px;
    line-height: 13/20;
    font-weight: normal;
}
.Tree-entity {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-right: 10px;
    &:hover {
        background-color: lighten($color-alpha-tint-lightest, 30%);
        .Tree-entityLink {
            @include link-default(darken($color-accent, 15%), none);
        }
    }
    &.is-current {
        background-color: $color-alpha-tint-lightest;
        .Tree-entityLink {
            // @include link-default(darken($color-accent, 25%), none);
        }
        .Tree-subItems {
            display: block;
        }
    }
}
.Tree-entityLink {
    padding-top: 5px;
    padding-bottom: 5px;
    @include link-default($color-accent, none);
    display: flex;
    align-items: center;
    > * + * {
        margin-left: 6px;
    }
}
.Tree-subItems {
    display: none;
    margin-bottom: 5px;
}
.Tree-subItem {
    display: flex;
    > * + * {
        margin-left: 6px;
    }
    &.is-current {
        font-weight: bold;
        .Tree-subItemLink {
            @include link-default(darken($color-accent, 25%), none);
        }
    }
}
.Tree-subItemLink {
    padding: 4px 0;
    @include link-default($color-accent, none);
    touch-action: manipulation;
}
@for $i from 1 through 8 {
    .Tree-depth-#{$i} {
        $padLeft: 16px + ($i * 10px);
        .Tree-collectionLabel,
        .Tree-entityLink {
            padding-left: $padLeft;
        }
        .Tree-subItemLink {
            padding-left: $padLeft + 11px;
        }
    }
}
