.Tree {
    white-space: nowrap;
}

.Tree-header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

.Tree-title {
    @include font(label);
    flex: 1 1 auto;
    color: $color-sidebar-heading;
}

.Tree-collapse {
    flex-shrink: 0;
    margin-left: 0.5rem;
    line-height: 0;
    padding: 0;
    color: $color-sidebar-heading;
    opacity: 0.75;

    &:hover,
    &:focus {
        opacity: 1;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

.Tree-collection {
    &.is-closed {
        background-color: transparent;

        .Tree-collectionItems {
            display: none;
        }

        .Tree-collectionLabel::before {
            [dir="ltr"] & {
                background-image: url("../img/icon-navigation-closed-ltr.svg");
            }
            [dir="rtl"] & {
                background-image: url("../img/icon-navigation-closed-rtl.svg");
            }
        }
    }
}

.Tree-collectionLabel {
    display: block;
    position: relative;
    width: 100%;
    @include font(caption);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    touch-action: manipulation;
    user-select: none;
    color: $color-text;

    [dir="ltr"] & {
        text-align: left;
    }
    [dir="rtl"] & {
        text-align: right;
    }

    &:hover {
        background-color: $color-ui-hover;
    }

    &::before {
        display: inline-block;
        position: absolute;
        top: 0.75rem;
        width: 0.75rem;
        height: 0.75rem;
        background-image: url("../img/icon-navigation-opened.svg");
        background-size: 0.5rem;
        background-repeat: no-repeat;
        background-position: 50%;
        opacity: 0.5;
        content: "";
    }
}

.Tree-item {
    @include font(caption);
}

.Tree-entityLink {
    display: flex;
    align-items: center;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    text-decoration: none;

    &:hover {
        background-color: $color-ui-hover;
    }

    .is-current & {
        background-color: $color-ui-active;
    }

    .Status {
        @include margin-inline(start, 0.25rem);
    }
}

@for $i from 1 through 8 {
    .Tree-depth-#{$i} {
        .Tree-collectionLabel {
            @include padding-inline(start, (($i - 1) * 1rem));

            &::before {
                @include offset-inline(start, (($i - 2) + 0.25rem));
            }
        }

        .Tree-entityLink {
            @include padding-inline(start, ($i * 1rem));
        }
    }
}

.Tree-aside {
    @include font(caption);
    margin: 0 1rem 0;
    padding-top: 0.375rem;
    opacity: 0.7;
}
