.Tree {
    white-space: nowrap;
    float:left;
    clear:left;
    min-width: 100%;
}
.Tree-title {
    padding-left: 25px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 6px;
}
.Tree-collection {
    padding-top: 5px;
    padding-bottom: 5px;
    &.is-closed {
        background-color: transparent;
        .Tree-collectionItems {
            display: none;
        }
        .Tree-collectionLabel {
            span:before {
                background-image: url('/_theme/img/icons/nav-arrow-right.svg');
            }
        }
    }
}
.Tree-collectionLabel {
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    span {
        position: relative;
        display: block;
        padding-left: 12px;
        margin-left: -22px;
    }
    span:before {
        position: absolute;
        left: 0;
        top: 5px;
        content: ' ';
        background-image: url('/_theme/img/icons/nav-arrow-down.svg');
        background-size: 8px 8px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        display: inline-block;
        width: 10px;
        height: 10px;
    }

}
.Tree-collectionItems {
    margin-top: 5px;
}
.Tree-item {
    font-size: 15px;
    font-weight: normal;
}
.Tree-entity {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    &.is-current {
        .Tree-entityLink {
            font-weight: bold;
        }
    }
}
.Tree-entityLink {
    @include link-default(#0074D9, none);
    display: flex;
    align-items: center;
    > * + * {
        margin-left: 6px;
    }
}

@for $i from 1 through 8 {
    .Tree-depth-#{$i} {
        $padLeft: 16px + ($i * 10px);

        .Tree-collectionLabel,
        .Tree-entityLink {
            padding-left: $padLeft;
        }
    }
}
