$color-alpha: hsl(225, 10, 20);
$color-beta:  hsl(225, 10, 35);
$color-gamma: hsl(225, 10, 97);
$color-delta: hsl(225, 10, 100);

$color-alpha-tint-light: hsla(225, 10, 20, 0.25);
$color-alpha-tint-lighter: hsla(225, 10, 20, 0.1);
$color-alpha-tint-lightest: hsla(225, 10, 20, 0.05);
