<svg class="inline-block align-middle -mt-1 {% if type === 'fill' %}fill-current{% else %}stroke-current{% endif %}{% if size %} {{ size }}{% endif %}{% if class %} {{ class }}{% endif %}" aria-hidden="true"  focusable="false" role="img">
  <use xlink:href="{{ '/icons.svg' | path }}#{{ id }}" />
</svg>
