<div class="card">

    <h2 class="card__title">{{ title }}</h2>

    <div class="card__body">
    {% include "@list" %}
    </div>

    <div class="card__action">
    {% include "@button" %}
    </div>

</div>
