$theme-accent: #14f;
$theme-complement: #fff;
$theme-link: #28f;

$theme-background: #fff;
$theme-background-contrast: #f7f7f8;


// Specifics

$color-link: $theme-link;
$color-text: #505462;
$color-heading: #444;

$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$color-body-bg: #fff;

$color-scrollbar-thumb: #ddd;
$color-scrollbar-thumb-hover: #ccc;
$color-frame-border: #ddd;
$color-draghandle-hover: #fffff5;
$color-code-bg: $theme-background-contrast;

$color-header-bg: $theme-accent !default;
$color-header-content: $theme-complement !default;
$color-header-splitter: $theme-complement !default;

$color-sidebar-bg: $theme-background-contrast;
$color-sidebar-heading: #ccc; // section headings such as 'components', 'docs'

$color-navigation-heading: #ccc;
$color-navigation-group-name: #444;
$color-navigation-item-hover: #f1f1f1;
$color-navigation-item-current: #e3e3e5;

$color-browser-panel-bg: $theme-background-contrast;
$color-browser-code-bg: $theme-background-contrast;

$color-preview-bg: $theme-background-contrast;

$color-prose-caption: #bbb;
$color-prose-tr: $theme-background-contrast;

@import "core/all";
@import "components/**/*.scss";
