
$color-link: #28f;
$color-text: #505462;
$color-heading: #444;

$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$color-body-bg: #fff;

$color-scrollbar-thumb: #ddd;
$color-scrollbar-thumb-hover: #ddd;
$color-frame-border: #ccc;

$color-draghandle-hover: #fffff5;
$color-code-bg: #f7f7f8;

$color-header-bg: #14f !default;
$color-header-content: #fff !default;
$color-header-splitter: #fff !default;

$color-sidebar-bg: #f7f7f8;

$color-sidebar-heading: #888;

$color-navigation-group-name: #444;
$color-navigation-item-hover: #f1f1f1;
$color-navigation-item-current: #e3e3e5;

$color-browser-panel-bg: #f7f7f8;
$color-browser-code-bg: #f7f7f8;

$color-preview-bg: #f7f7f8;

$color-prose-caption: #bbb;
$color-prose-tr: #f7f7f8;
