$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

$color-link: #28f;
$color-text: #535363;
$color-heading: #444;

$color-background: #fff;
$color-background-offset: #f6f6f6;

$color-ui-hover: rgba($color-text, 0.05);
$color-ui-active: rgba($color-text, 0.075);

$color-header-background: #14f !default;
$color-header-content: #fff !default;

$color-frame-border: rgba($color-text, 0.25);

$color-sidebar-heading: rgba($color-text, 0.75);
